{% extends 'base.html.twig' %}

{% block title %}Edit fromage {% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center">Modifier fromage</h1>

    {{ include('admin/cheese/_form.html.twig', {'button_label': 'modifier'}) }}
    </div>


{% endblock %}
