{% extends 'base.html.twig' %}

{% block title %}Edit Cheese{% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center">Modifier fromage</h1>

    {{ include('admin/cheese/_form.html.twig', {'button_label': 'Update'}) }}
    </div>


{% endblock %}
