{% extends 'base.html.twig' %}

{% block title %}Fish index{% endblock %}

{% block body %}
    <h1>Fish index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fish in fish %}
            <tr>

                <td>{{ fish.name }}</td>
                <td>
                    <a href="{{ path('admin_fish_show', {'id': fish.id}) }}">show</a>
                    <a href="{{ path('admin_fish_edit', {'id': fish.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_fish_new') }}">Create new</a>
{% endblock %}
