{% extends 'base.html.twig' %}

{% block title %}New Fish{% endblock %}

{% block body %}
    <h1>Create new Fish</h1>

    {{ include('admin/fish/_form.html.twig') }}

    <a href="{{ path('admin_fish_index') }}">back to list</a>
{% endblock %}
