{% extends 'base.html.twig' %}

{% block title %}New Legume{% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">Create new Legume</h1>

    {{ include('admin/legume/_form.html.twig') }}

    </div>
{% endblock %}
