{% extends 'base.html.twig' %}

{% block title %}admin horaire{% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center">Gestion des heures d ouverture</h1>

    {{ include('admin/opening_time/_form.html.twig') }}


    </div>
{% endblock %}
