{% extends 'base.html.twig' %}

{% block title %}Edit autre{% endblock %}

{% block body %}
    <div class="container police">
        <h1 class="text-center mt-4">Editer Autre</h1>

        {{ include('admin/other/_form.html.twig', {'button_label': 'Modifier'}) }}




    </div>
{% endblock %}
