{% extends 'base.html.twig' %}

{% block title %}nouveau autre {% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">ajouter un autre</h1>

    {{ include('admin/other/_form.html.twig') }}


    </div>
{% endblock %}
