{% extends 'base.html.twig' %}

{% block title %}Edit Viande {% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">Modifier Viande</h1>

    {{ include('admin/meat/_form.html.twig', {'button_label': 'Update'}) }}



    </div>
{% endblock %}
