{% extends 'base.html.twig' %}

{% block title %}Edit BaseIngredient{% endblock %}

{% block body %}
    <h1>Edit BaseIngredient</h1>

    {{ include('admin/base_ingredient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_base_ingredient_index') }}">back to list</a>

    {{ include('admin/base_ingredient/_delete_form.html.twig') }}
{% endblock %}
