{% extends 'base.html.twig' %}

{% block title %}Edit BaseIngredient{% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">modifier ingredient de base</h1>

    {{ include('admin/base_ingredient/_form.html.twig', {'button_label': 'modifier'}) }}

    </div>
{% endblock %}
