{% extends 'base.html.twig' %}

{% block title %}New BaseIngredient{% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">nouveau ingredient de base</h1>

    {{ include('admin/base_ingredient/_form.html.twig') }}
    </div>

{% endblock %}
