{% extends 'base.html.twig' %}

{% block title %}Edit Pizza {% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">Modifier Pizza</h1>

    {{ include('admin/pizza/_form.html.twig', {'button_label': 'modifier'}) }}

    </div>


{% endblock %}
