{% extends 'base.html.twig' %}

{% block title %}ajouter pizza{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="police text-center mb-5 mt-5">Ajouter Pizza</h1>

    {{ include('admin/pizza/_form.html.twig') }}


    </div>
{% endblock %}
