{% extends 'base.html.twig' %}

{% block title %}Edit BasePizza{% endblock %}

{% block body %}
    <h1>Edit BasePizza</h1>

    {{ include('admin/base_pizza/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_base_pizza_index') }}">back to list</a>

    {{ include('admin/base_pizza/_delete_form.html.twig') }}
{% endblock %}
