{% extends 'base.html.twig' %}

{% block title %}Edit BasePizza{% endblock %}

{% block body %}
    <div class="container police">
    <h1 class="text-center mt-4">Modifier la base d une pizza</h1>

    {{ include('admin/base_pizza/_form.html.twig', {'button_label': 'Update'}) }}

    </div>


{% endblock %}
