{% extends 'base.html.twig' %}

{% block title %}New BasePizza{% endblock %}

{% block body %}
    <h1>Create new BasePizza</h1>

    {{ include('admin/base_pizza/_form.html.twig') }}

    <a href="{{ path('admin_base_pizza_index') }}">back to list</a>
{% endblock %}
