{% extends 'base.html.twig' %}

{% block title %}nouvelle base de pizza {% endblock %}

{% block body %}
    <div class="container police">
    <h1>ajouter nouvelle base de pizza </h1>

    {{ include('admin/base_pizza/_form.html.twig') }}

    </div>
{% endblock %}
